#grid {
	display: grid;
	grid-template-columns: repeat(10, min(7vw, 7vh));
	grid-template-rows: repeat(10, min(7vw, 7vh));
	box-sizing: border-box;
	justify-content: center;
	align-content: center;
}

.grid_element_1 {
	background-color: #645111;
	height: 100%;
	width: 100%;
	margin: 3px;
}

.grid_element_0 {
	background-color: #c29c20;
	height: 100%;
	width: 100%;
	margin: 3px;
}

.pion {
	height: 100%;
	width: 100%;
}

.pion_border:hover .pion {
	height: 90%;
	width: 90%;
	padding: 5%;
	background-color: #645111;
}

.pion_img {
	height: 100%;
	width: 100%;
}


.pion_border {
	margin: 3%;
	padding: 3%;
	height: 88%;
	width: 88%;
}

.pion_border:hover {
	background-color: aqua;
}