#grid {
	display: grid;
	grid-template-columns: repeat(10, min(7vw, 7vh));
	grid-template-rows: repeat(10, min(7vw, 7vh));
	box-sizing: border-box;
	justify-content: center;
	align-content: center;
}

.grid_element_1 {
	background-color: #645111;
	height: 100%;
	width: 100%;
	margin: 3px;
}

.grid_element_0 {
	background-color: #c29c20;
	height: 100%;
	width: 100%;
	margin: 3px;
}

.pion {
	margin: 3%;
	padding: 3%;
	height: 88%;
	width: 88%;
}

.pion:hover {
	height: 84%;
	width: 84%;
	border: solid #655465 min(0.1vw);
}

.pion_img {
	height: 100%;
	width: 100%;
}